/* index.css */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #2c3e50;
    background-image: url("/static/img/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.box{
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: #fff;
    padding: 100px;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.4);
}

h1 {
    text-align: center;
}

a {
    color: #051c00;
    text-decoration: none;
    background-color: #116800;
    padding: 12px;
    border-radius: 7px;
    font-size: 22px;
    font-weight: 700;
}

a:hover {
    background-color: #0d4c01;
}

.corpo {
    text-align: center; 
    margin-top: 30px;  
}



