/* ficha.css */
body {
    background-color: #f9f9f9;
    color: #2c3e50;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #2c3e50;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #34495e;
}

ul.atributos {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
